extends layout

block content
  div.profile-list
    li
      ul.user-profile
        a(href=`/users/profile/${user.username}`) User activity
      ul.user-profile
        a(href="/users/account/settings") Settings