extends layout

block content
  if error
    .alert.alert-danger= error
  h4 Please, type your email address
  form(method="POST", action="/users/activation")
    #form-group
      input.form-control(name='email', type='email')
    input.btn.btn-primary(type='submit', value='Send me activation email')