extends layout

block content
  h1 Add article
  form(method="POST", action="/articles/add")
    #form-group
      label Ttile
      input.form-control(name="title", type="text")
    #form-group
      label Body
      textarea.form-control(name="body", type="text")
    br
    input(type="submit", value="Submit")