extends layout

block content
  h1 #{h1}
  form(method="POST", action="/articles/add")
    label Ttile
    input(name="title", type="text")
    label Author
    input(name="author", type="text")
    label Body
    textarea(name="body", type="text")
    br
    input(type="submit", value="Submit")