extends layout

block content
  h4 Here you can change your username
  form(method="POST", action="/users/account/settings/username")
    #form-group
      label Type your new username
      input.form-control(name="username", type="text")
    input.btn.btn-success(type="submit", value="I want to change my username")
  a(href="/users/account/settings") Back to settings