extends layout

block content
  h4 Here you can change your password
  form(method="POST", action="/users/account/settings/password")
    #form-group
      label Type your old password
      input.form-control(name="old_password", type="password")
    #form-group
      label Type your new password
      input.form-control(name="new_password", type="password")
    #form-group
      label Confirm your new password
      input.form-control(name="new_password2", type="password")
    input.btn.btn-success(type="submit", value="I want to change my password")
  a(href="/users/account/settings") Back to settings