extends layout

block content
	if loginError
		.alert.alert-danger= loginError
	h1 Log in
	form(method="POST", action="/users/login")
		#form-group
			label Email
			input.form-control(name='email', type='email')
		#form-group
			label Password
			input.form-control(name='password' type='password')
		#recovery
			a(href='recovery') Forgot password?
		#activation
			a(href='activation') I didn't receive an activation email!
		input.btn.btn-primary(type='submit', value='Log in')