extends layout

block content
  
  form(method="POST", action=`/users/recovery/${hash}`)
    #form-group
      h6 Type new password
      input.form-control(name='password', type='password')
    #form-group
      h6 Confirm new password
      input.form-control(name='password2', type='password')
    input.btn.btn-primary(type='submit', value='Change password')