extends layout

block content
  if articles.length > 0
    h2 Articles written by #{username}
    br
    br
    ul.list-group
      each article, i in articles
        li.list-group-item
          a(href=`/articles/${article.id}`)= article.title 
  else
    h3 This user has zero activity